.titre {
  font-family:"Lekton";
  color:white;
  font-size:4vh;
  width:100%;
  text-align:center;
  position:absolute;
  top:0px;
  z-index:2;
}

.couverture {
  height:100%;
  width:100%;
}

.date {
  font-family: "Lekton";
  font-size:10vh;
  color:white;
  position:absolute;
  height:25%;
  width:20%;
  background: url('village_itterswiller.jpg') fixed;
  background-size: cover;
}

.date div {
  position:absolute;
  top:50%;
  margin-top:-0.5em;
  left:50%;
  margin-left:-0.5em;
}
