body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1500px;
}

.titre {
  display: block;
  font-family:"Lekton";
  color:white;
  font-size:4vh;
  width:100%;
  height:10vh;
  line-height: 10vh;
  text-align:center;
  margin: 0;
}

body, .numero, .calendrier {
  background: url('village_itterswiller.jpg') fixed center;
  background-size: cover;
}

.calendrier {
  position:absolute;
  top:10vh;
  right:0;
  bottom:0;
  left:0;
  transition: transform 1s;
}

.numero {
  position:absolute;
  z-index: 1;
}

.numero {
  font-family: "Lekton";
  font-size:10vh;
  color:white;
  transition: transform 1s ease, opacity 0.5s 0.5s ease-in;
  transform-style: preserve-3d;
  transform-origin: 0;
}

.numero.ouvert {
  transform: rotateY(-90deg);
  opacity: 0;
  z-index: 2;
}

.numero div {
  position:absolute;
  top:50%;
  margin-top:-0.5em;
  left:50%;
}

.numero .un-chiffre {
  margin-left:-0.5em;
}

.numero .deux-chiffres {
  margin-left:-0.75em;
}

.case {
  position:absolute;
}

.case * {
  width: 100%;
  height: 100%;
}
