body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1500px;
}

.titre {
  font-family:"Lekton";
  color:white;
  font-size:4vh;
  width:100%;
  text-align:center;
  position:absolute;
  top:0;
  z-index:2;
}

.couverture {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-attachment: fixed;
  background-size: cover;
}

.date, .column, .row {
  background: url('village_itterswiller.jpg') fixed;
  background-size: cover;
  position:absolute;
  z-index: 1;
}

.column {
  height:100%;
  width:2%;
}

.row {
  height:4%;
  width:100%;
}

.date {
  font-family: "Lekton";
  font-size:10vh;
  color:white;
  height:25%;
  width:20%;
  transition: transform 1s ease, opacity 0.5s 0.5s ease-in;
  transform-style: preserve-3d;
  transform-origin: 0;
}

.date.ouvert {
  transform: rotateY(-90deg);
  z-index: 3;
  opacity: 0;
}

.date div {
  position:absolute;
  top:50%;
  margin-top:-0.5em;
  left:50%;
  margin-left:-0.5em;
}

.case {
  height:21%;
  width:18%;
  position:absolute;
  z-index: 1;
}

.case * {
  width: 100%;
  height: 100%;
}
